.cards{
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    padding: 10px 24px 44px;
}
.cards_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(448px, 1fr));
    gap: 24px;
}

@media screen and(max-width: 520px){
    .cards_list{
        grid-template-columns:1fr;
    }
}
@media screen and(max-width: 420px){
    .cards{
        padding: 10px 10px 44px;
    }
    @media screen and(max-width: 360px){
        .cards_list{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }


}