.cards{
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    padding: 10px 24px 44px;
}
.cards_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(448px, 1fr));
    gap: 24px;
}
